.note{
    background-color: #ABB2B9;
    border-radius: 7px;
    box-shadow: #ccc;
    padding: 10px;
    width: 240px;
    margin: 16px;
    float: left;
}

.note h2{
    font-size: 1.1em;
    margin-bottom: 6px;
}

.note p{
    font-size: 1.1em;
    margin-bottom: 10px;
    white-space: pre-wrap;
    word-wrap: break-word;
}